! vi: commentstring=!%s
! Xcursor.theme		: Adwaita
Xcursor.theme		: DMZ-Black
! Xcursor.theme		: Bibata-Modern-Classic
! Xcursor.theme		: default
Xcursor.size		: 24
Xft.antialias		: 1
Xft.autohint		: 0
! Depend on auto-detection for the correct DPI value
! xdpyinfo | grep dots
Xft.dpi             : 96
Xft.hinting			: 1
Xft.hintstyle		: hintslight
Xft.lcdfilter		: lcddefault
Xft.rgba			: rgb

yeahconsole*restart			: 0
yeahconsole*stepSize		: 0
yeahconsole*consoleHeight	: 24
yeahconsole*handleWidth		: 3
yeahconsole*aniDelay		: 20
yeahconsole*keyBigger		: Alt+j
yeahconsole*keySmaller		: Alt+k
!yeahconsole*toggleKey		: Win+n
yeahconsole*toggleKey		: Alt+space
!yeahconsole*toggleKey		: Alt+e
yeahconsole*keyFull			: Alt+o
yeahconsole*term			: alacritty
yeahconsole*heightIncrease	: 24
!yeahconsole*xOffset			: 100
yeahconsole*yOffset			: 20
!yeahconsole*screenWidth		: 1600
yeahconsole*xrandrSupport	: 1

XTerm*scaleHeight:      1.00
XTerm*faceName:         Hack
XTerm*faceSize:         9
XTerm.termName:         xterm-256color
XTerm*cursorColor:      rgb:87/af/d7
XTerm.vt100.foreground: rgb:4D/4D/4C
XTerm.vt100.background: rgb:ED/ED/ED
XTerm.vt100.color0:     rgb:4D/4D/4C
XTerm.vt100.color1:     rgb:D7/00/5F
XTerm.vt100.color2:     rgb:71/8C/00
XTerm.vt100.color3:     rgb:D7/5F/00
XTerm.vt100.color4:     rgb:00/5f/87
XTerm.vt100.color5:     rgb:89/59/A8
XTerm.vt100.color6:     rgb:3E/99/9F
XTerm.vt100.color7:     rgb:ED/ED/ED
XTerm.vt100.color8:     rgb:96/96/94
XTerm.vt100.color9:     rgb:D7/00/5F
XTerm.vt100.color10:    rgb:71/8C/00
XTerm.vt100.color11:    rgb:D7/5F/00
XTerm.vt100.color12:    rgb:42/71/AE
XTerm.vt100.color13:    rgb:89/59/A8
XTerm.vt100.color14:    rgb:3E/99/9F
XTerm.vt100.color15:    rgb:F5/F5/F5
