xmonad.o
xmonad.hi
xmonad.errors
xmonad-x86_64-linux
account.*
auth.*
.pc/
*.log.*
*.pid
skin.yaml
__pycache__/
*.pdf
--help
*.msgpackz
history.db*
last_version_check_time
latest_version
/dotfiles/.config/yazi/flavors
