[user]
	name = Jan Christoph Ebersbach
	email = jceb@e-jc.de
[gui]
	fontui = -family \"Bitstream Vera Sans\" -size 8 -weight bold -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Bitstream Vera Sans Mono\" -size 8 -weight normal -slant roman -underline 0 -overstrike 0
	editor = /usr/bin/gvim
[merge]
	tool = kdiff3
[cola]
	fontdiff = Bitstream Vera Sans Mono,8,-1,5,50,0,0,0,0,0
	fontui = Nimbus Sans L,8,-1,5,50,0,0,0,0,0
	savewindowsettings = true
	geometry = 1398x1033+0,15
[color]
	diff = auto
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
[core]
	pager =
