alias cdt='cd $(echo $(pwd)/|sed -e "s#/branches/ucs[^/]*/#/trunk/#")'
alias cdb2='cd $(echo $(pwd)/|sed -e "s#/trunk/#/branches/ucs-2.0/#")'
alias cdb21='cd $(echo $(pwd)/|sed -e "s#/trunk/#/branches/ucs-2.1/#")'
alias cdb22='cd $(echo $(pwd)/|sed -e "s#/trunk/#/branches/ucs-2.2/#")'
alias cdb23='cd $(echo $(pwd)/|sed -e "s#/trunk/#/branches/ucs-2.3/#")'
alias cdsvn='cd $(echo $(pwd)/|sed -e "s#/git/#/svn/#")'
alias cdgit='cd $(echo $(pwd)/|sed -e "s#/svn/#/git/#")'
alias cddeb='cd $(_file=debian; _d="$(pwd)/"; while [ "$_d" != "/" ]; do if [ -e "${_d}/${_file}" ]; then echo $_d; return; else; _d=$(dirname "$_d"); fi; done; echo ${_file} not found in parent directories >&2; pwd)'
alias cd-='cd $(_dirs="$(_d=$(pwd)/; while [ "$_d" != "/" ]; do _d=$(dirname "$_d"); echo $_d; done)"; echo $_dirs | awk "{print NR, \$0}">&2; echo -n "which one? " >&2; read d; [ -n "$d" ] && echo $_dirs | awk "NR==$d {print \$0}" || pwd)'
alias cd+='cd $(_dirs="$(find . -type d ! -wholename \*debian/\* ! -wholename \*.svn\*|sort)"; echo $_dirs | awk "{print NR, \$0}">&2; echo -n "which one? " >&2; read d; [ -n "$d" ] && echo $_dirs | awk "NR==$d {print \$0}" || pwd)'
alias cd1='cd $(_dirs="$(find . -maxdepth 1 -type d ! -wholename \*debian/\* ! -wholename \*.svn\*|sort)"; echo $_dirs | awk "{print NR, \$0}">&2; echo -n "which one? " >&2; read d; [ -n "$d" ] && echo $_dirs | awk "NR==$d {print \$0}" || pwd)'
alias cd2='cd $(_dirs="$(find . -maxdepth 2 -type d ! -wholename \*debian/\* ! -wholename \*.svn\*|sort)"; echo $_dirs | awk "{print NR, \$0}">&2; echo -n "which one? " >&2; read d; [ -n "$d" ] && echo $_dirs | awk "NR==$d {print \$0}" || pwd)'
alias cd3='cd $(_dirs="$(find . -maxdepth 3 -type d ! -wholename \*debian/\* ! -wholename \*.svn\*|sort)"; echo $_dirs | awk "{print NR, \$0}">&2; echo -n "which one? " >&2; read d; [ -n "$d" ] && echo $_dirs | awk "NR==$d {print \$0}" || pwd)'
alias cd..='cd ..'

alias findfile='find . ! -wholename \*debian/\* ! -wholename \*.svn\*|grep -i $1'
alias finddir='find . -type d ! -wholename \*debian/\* ! -wholename \*.svn\*|grep -i $1'

# archlinux
alias p=pacman

# on debian based systems this makes the use of ack a bit easier
if [ -e /usr/bin/ack-grep ]; then
	alias ack=ack-grep
fi

if [ -e /usr/bin/ooffice ]; then
	alias oo='ooffice'
else
	alias oo='libreoffice'
fi

# vi: ft=zsh:tw=0:sw=4:ts=4
