# Convenience
#alias installsieve="sieveshell -u ebersbach@univention.de -a ebersbach@univention.de -f sieve/install_sieve localhost"

# some more ls aliases
alias ls='ls --color=auto -CF'
alias ll='ls -lF'
alias la='ls -AF'
#alias dir='ls --color=auto --format=vertical'
#alias vdir='ls --color=auto --format=long'

# Development
alias cdt='cd $(echo $(pwd)/|sed -e "s#/branches/ucs[^/]*/#/trunk/#")'
alias cdb2='cd $(echo $(pwd)/|sed -e "s#/trunk/#/branches/ucs-2.0/#")'
alias cdb21='cd $(echo $(pwd)/|sed -e "s#/trunk/#/branches/ucs-2.1/#")'
alias cdb22='cd $(echo $(pwd)/|sed -e "s#/trunk/#/branches/ucs-2.2/#")'
alias cdb23='cd $(echo $(pwd)/|sed -e "s#/trunk/#/branches/ucs-2.3/#")'
alias cdsvn='cd $(echo $(pwd)/|sed -e "s#/git/#/svn/#")'
alias cdgit='cd $(echo $(pwd)/|sed -e "s#/svn/#/git/#")'
alias cddeb='cd $(_file=debian; _d="$(pwd)/"; while [ "$_d" != "/" ]; do if [ -e "${_d}/${_file}" ]; then echo $_d; return; else; _d=$(dirname "$_d"); fi; done; echo ${_file} not found in parent directories >&2; pwd)'
alias cd-='cd $(_dirs="$(_d=$(pwd)/; while [ "$_d" != "/" ]; do _d=$(dirname "$_d"); echo $_d; done)"; echo $_dirs | awk "{print NR, \$0}">&2; echo -n "which one? " >&2; read d; [ -n "$d" ] && echo $_dirs | awk "NR==$d {print \$0}" || pwd)'
alias cd+='cd $(_dirs="$(find . -type d ! -wholename \*debian/\* ! -wholename \*.svn\*|sort)"; echo $_dirs | awk "{print NR, \$0}">&2; echo -n "which one? " >&2; read d; [ -n "$d" ] && echo $_dirs | awk "NR==$d {print \$0}" || pwd)'
alias cd1='cd $(_dirs="$(find . -maxdepth 1 -type d ! -wholename \*debian/\* ! -wholename \*.svn\*|sort)"; echo $_dirs | awk "{print NR, \$0}">&2; echo -n "which one? " >&2; read d; [ -n "$d" ] && echo $_dirs | awk "NR==$d {print \$0}" || pwd)'
alias cd2='cd $(_dirs="$(find . -maxdepth 2 -type d ! -wholename \*debian/\* ! -wholename \*.svn\*|sort)"; echo $_dirs | awk "{print NR, \$0}">&2; echo -n "which one? " >&2; read d; [ -n "$d" ] && echo $_dirs | awk "NR==$d {print \$0}" || pwd)'
alias cd3='cd $(_dirs="$(find . -maxdepth 3 -type d ! -wholename \*debian/\* ! -wholename \*.svn\*|sort)"; echo $_dirs | awk "{print NR, \$0}">&2; echo -n "which one? " >&2; read d; [ -n "$d" ] && echo $_dirs | awk "NR==$d {print \$0}" || pwd)'
alias cd..='cd ..'

alias findfile='find . ! -wholename \*debian/\* ! -wholename \*.svn\*|grep -i $1'
alias finddir='find . -type d ! -wholename \*debian/\* ! -wholename \*.svn\*|grep -i $1'

alias chr='LANG=C EDITOR=vim sudo chroot . bash'

alias ToSeries='toSeries -p0 *.patch > series'

alias r1='repo_get_version.py -r 1-3-2-0'
alias R1='Repo_get_version -r 1-3-2-0'
alias r2='repo_get_version.py -r 2-0-0-0'
alias R2='Repo_get_version -r 2-0-0-0'
alias r21='repo_get_version.py -r 2-1-0-0'
alias R21='Repo_get_version -r 2-1-0-0'
alias r22='repo_get_version.py -r 2-2-0-0'
alias R22='Repo_get_version -r 2-2-0-0'

alias cleardeb='rm *.deb *.diff.gz *.dsc *.changes'

# on debian based systems this makes the use of ack a bit easier
alias ack=ack-grep

# Patches
alias pdr='patch --dry-run'
alias p0='patch -p0'
alias p1='patch -p1'

alias oo='ooffice'
# vi: ft=zsh:tw=0:sw=4:ts=4
